#name{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #department{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #designation{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #macaddress{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #phoneno{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #sys{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #others{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #emailadd{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #agree{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #faculty{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #date{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #signature{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
 }
 h1.Wifi{
    color: green;
 }
 h5.Wifi2{
    color: green;
 }
 .responsive{
   max-width: 1000px;
   max-height: 710px;
   opacity: 0.2;
 }
 
 .center{
   position: absolute;
   top: 55%;
   left: 50%; 
   transform: translate(-50%, -50%);
 }
 
 parent{
   position: relative;
 }