#name{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #department{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #designation{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #macaddress{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #phoneno{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #sys{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #others{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #emailadd{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #agree{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #faculty{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #date{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 #signature{
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
 }
 body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }
 .print{
   text-align: right;
}
.container{
   margin-top: 10px;
   margin-bottom: 10px;
   position: relative;
   max-width: 1000px;
}
.card-img-top{
   padding-top: 200px;
   padding-right: 80px;
   height: 1000px;
   opacity: 0.1;
   position: absolute;
}
.card-title{
   text-align: center;
}
.card-body{
   background-color: aqua;
   border-style: groove;
   border-width: 25px;
}