@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Ubuntu&display=swap');

body{
   background-color: #6667AB;
   display: flex;
   margin: 0;
}
hr{
   height: 4px;
   background-color: #6667AB;
   border: none;
}
.container {
   margin-top: 20px;
   background-color: #fff;
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
   margin-bottom: 20px;
}
.header{
   background-color: #f7f7f7;
   border-bottom: 1px solid #f0f0f0;
   padding: 20px 40px;
   background-image: url(wifi-signal.png);
   background-repeat: no-repeat;
   background-size: 10% 80%;
   background-position: 95%;
   animation: example 10s linear infinite alternate-reverse;
   animation-fill-mode: forwards;
}
.header h2{
   font-family: 'Roboto Slab', serif;
   font-weight: 700;
   margin: 0;
}
.header h4{
   font-family: 'Roboto Slab', serif;
   font-weight: 500;
   margin: 0;
}
.form{
   padding: 30px 40px;
}
.form-group{
   margin-bottom: 10px;
   padding-bottom: 20px;
   position: relative;
}
.form-control{
   border-top: hidden;
   border-right: hidden;
   border-left: hidden;
}
.custom-select{
   border-top: hidden;
   border-right: hidden;
   border-left: hidden;
}
.form-group label{
   font-family: 'Ubuntu', sans-serif;
   font-weight: 500;
   display: inline-block;
}
.form-group i{
   position: absolute;
   top: 48px;
   right: 16px;
   visibility: hidden;
}
.form-group small{
   visibility: hidden;
   position: absolute;
}
.form button{
   background-color: #6667AB;
   border: 2px solid #6667AB;
   border-radius: 4px;
   color: #fff;
   display: block;
   font-family: inherit;
   font-size: 16px;
   padding: 10px;
   width: 100%;
}
.form-group.success input{
   border-color: #2ecc71;
}
.form-group.error input{
   border-color: #e74c3c;
}
.form-group.success i.fa-check-circle{
   color: #2ecc71;
   visibility: visible;
}
.form-group.error i.fa-exclamation-circle{
   color: #e74c3c;
   visibility: visible;
}
.form-group.error small{
   color: #e74c3c;
   visibility: visible;
}
#confirm{
   padding: 10px;
}
#red{
   color: #e74c3c;
}
.design
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.design2{
   background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear reverse infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.custom-file-label{
   border-top: hidden;
   border-left: hidden;
   border-right: hidden;
}
label{
   color: #44107a;
   font-size: 16px;
   border-color: black;
}
p{
   color: gray;
}
@keyframes example {
   from {left: 0px;}
   to {left: 500px; background-color: black;}
 }