 body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-image: url(binary.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 }
.container{
   margin-top: 10px;
   margin-bottom: 10px;
   position: relative;
   max-width: 1000px;

}
.card-img-top{
   padding-top: 250px;
   padding-right: 60px;
   height: 1000px;
   opacity: 0.1;
   position: absolute;
}
.card-title{
   text-align: center;
   font-size: 40px;
}
.sub{
   text-align: center;
}
hr {
   height: 4px;
   background-color: cornsilk;
   border: none;
}
.btn{
   padding: 10px;
}
.card-body{
   background-color: #16110d;
   border-style: solid;
   border-color: black;
   border-width: 10px;
}
.custom-select{
   border-style: solid;
   border-width: 3px;
   padding: 5px;
   font-style: oblique;
}
.custom-select{
   border-color: whitesmoke;
}
.tooltip.bs-tooltip-bottom .tooltip-inner {
   background:#ec3a3d !important;
}

.tooltip .arrow:before {
border-bottom-color:#ec3a3d !important;
border-top-color:#ec3a3d !important;
}
#department{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
   text-transform: capitalize;
}
#department:hover{
   border-color: whitesmoke;
}
#department:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#department:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
#designation{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
   text-transform: capitalize;
}
#designation:hover{
   border-color: whitesmoke;
}
#designation:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#designation:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
#macaddress{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
   text-transform: capitalize;
}
#macaddress:hover{
   border-color: whitesmoke;
}
#macaddress:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#macaddress:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
#others{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
   text-transform: capitalize;
}
#others:hover{
   border-color: whitesmoke;
}
#others:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#others:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
#emailadd{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
}
#emailadd:hover{
   border-color: whitesmoke;
}
#emailadd:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#emailadd:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
#phoneno{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
   text-transform: capitalize;
}
#phoneno:hover{
   border-color: whitesmoke;
}
#phoneno:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#phoneno:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
#faculty{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
   text-transform: capitalize;
}
#faculty:hover{
   border-color: whitesmoke;
}
#faculty:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#faculty:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
#date{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
}
#datehover{
   border-color: whitesmoke;
}
#date:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#date:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
.customJumboBg{
   background-image: url(background.jpg);
   background-repeat: repeat;
   background-size: 100% 100%;
}
.name-group{
   border-style: solid;
   border-width: 3px;
   border-radius: 25px;
   padding: 5px;
}
#first{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   border-right-style: hidden;
   padding: 5px;
   text-transform: capitalize;
}
#first:hover{
   border-color: whitesmoke;
}
#first:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#first:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   font-weight: bold;
}
#second{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
   text-transform: capitalize;
}
#second:hover{
   border-color: whitesmoke;
}
#second:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#second:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   font-weight: bold;
}
#third{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   border-left-style: hidden;
   padding: 5px;
   text-transform: capitalize;
}
#third:hover{
   border-color: whitesmoke;
}
#third:focus:required:invalid{
   border-color: red;
   background-color: black;
}
#third:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   font-weight: bold;
}
#system{
   border-style: solid;
   border-width: 3px;
   border-color: blue;
   padding: 5px;
}
#system:hover{
   border-color: whitesmoke;
}
#system:focus:required:invalid{
   color: whitesmoke;
   border-color: red;
   background-color: black;
}
#system:required:valid{
   color: whitesmoke;
   border-color: green;
   background-color: black;
   font-family: cursive;
   border-radius: 25px;
   font-weight: bold;
}
.custom-file-label{
   background-color: lightgrey;
}
#red{
   color: red;
}