{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>ADMINLOGIN</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/sbootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'CSS/adminlogin.css' %}">
    </head>
    <body>
        <script src="{% static 'JavaScript/login.js' %}"></script>
        <section class="container-fluid bg" style="background-image: url({% static 'Media/loginbg.jpg' %});">
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-3">
                    <form class="form-container" action="DATAFACULTY.html" method="post" name="login" onsubmit="return interactiveAdmin()">
                        <h4 style="color: white;" >Admin Login</h4>
                        <div class="form-group">
                            <label for="username" style="color: white;">Username:</label>
                            <input type="text" autocomplete="off" class="form-control" id="username" placeholder="Enter your username" name="user">
                        </div>
                        <div id="user_error">Incorrect Username</div>
                        <div class="form-group">
                            <label for="Password" style="color: white;">Password:</label>
                            <input type="password" class="form-control" id="pword" aria-describedby="pwcaution" placeholder="Enter password" name="password">
                            <small id="pwcaution" class="form-text text-muted">Please don't share your password to anyone.</small>
                        </div>
                        <div id="pass_error">Incorrect Password</div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="RmbrME">
                            <label class="form-check-label" for="RmbrME" style="color: white;">Remember me</label>
                        </div>
                        <div class="button">
                            <button type="submit">LOG IN</button>
                        </div>
                    </form>
                </section>
            </section>
        </section>
    </body>
