                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger">CONFIRMATION : <em>"accept"</em></h5>
                                        <button type="button" class="close" data-dismiss="modal"><i class="fa-solid fa-arrow-right-from-bracket" id="back"></i></button>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer d-flex justify-content-left">
                                      <a href="/acceptStudent/{{ obj.tupid }}" class="btn btn-success">YES</a>
                                        <button type="button" class="btn text-muted" data-dismiss="modal">NO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                                      <!-- The Modal -->
                          <div class="modal fade" id="myModal2">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger">CONFIRMATION : <em>"reject"</em></h5>
                                        <button type="button" class="close" data-dismiss="modal"><i class="fa-solid fa-arrow-right-from-bracket" id="back"></i></button>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer d-flex justify-content-left">
                                      <a href="/rejectStudent/{{ obj.tupid }}" class="btn btn-success">YES</a>
                                        <button type="button" class="btn text-muted" data-dismiss="modal">NO</button>
                                    </div>
                                </div>
                            </div>
                        </div>