{% extends 'Wifi_App/head.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>CONTACT US</title>
{% endblock title %}

{% block content %}
<body class="bg-success">
    <div class="container-fluid my-3">
        <div class="border shadow-sm p-5 bg-light">
            <form action="/contact_us/" method="POST" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm mb-5">
                        <img class="w-100" src="{% static 'contact.svg' %}" alt="wifi-image">
                    </div>
                    <div class="col-sm-5">
                        <div class="media border-bottom border-success w-100">
                            <img class="rounded img-fluid" src="{% static 'TUP-LOGO.png' %}" alt="wifi" width="100" height="100">
                            <div class="media-body ml-4 p-2">
                                <h2 class="font-weight-bold" style="color: maroon;">WIFI CONNECTIVITY REGISTRATION</h2>
                                <h6 class="font-weight-bold" style="color: maroon;">CONTACT US</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group mb-2">
                                    {% render_field form.names class="form-control" placeholder="Your Name (optional)" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {% if form.is_bound %}
                                    {% if form.email.errors %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.email  class="form-control is-invalid" placeholder="Your Email" %}
                                        </div>
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.email  class="form-control is-valid" placeholder="Your Email" %}
                                        </div>
                                        {% endif %}
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.email class="form-control" placeholder="Your Email" %}
                                        </div>
                                        {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {% if form.is_bound %}
                                    {% if form.phoneNum.errors %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.phoneNum  class="form-control is-invalid" placeholder="Phone Number" %}
                                        </div>
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.phoneNum  class="form-control is-valid" placeholder="Phone Number" %}
                                        </div>
                                        {% endif %}
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.phoneNum class="form-control" placeholder="Phone Number" %}
                                        </div>
                                        {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {% if form.is_bound %}
                                    {% if form.subject.errors %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.subject  class="form-control is-invalid" placeholder="Your Subject" %}
                                        </div>
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.subject  class="form-control is-valid" placeholder="Your Subject" %}
                                        </div>
                                        {% endif %}
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.subject class="form-control" placeholder="Your Subject" %}
                                        </div>
                                        {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {% if form.is_bound %}
                                    {% if form.content.errors %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.content  class="form-control is-invalid" placeholder="Write something here..." %}
                                        </div>
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.content  class="form-control is-valid" placeholder="Write something here..." %}
                                        </div>
                                        {% endif %}
                                        {% else %}
                                        <div class="form-group mt-3 mb-2">
                                            {% render_field form.content class="form-control" placeholder="Write something here..." %}
                                        </div>
                                        {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'home' %}" class="btn btn-danger my-3"><i class="fa-solid fa-circle-arrow-left"></i>&nbsp;BACK</a>
                            <button type="submit" class="btn btn-success my-3"><i class="fa-solid fa-paper-plane"></i>&nbsp;SEND</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</body>
{% endblock content %}