{% extends 'Wifi_App/head2.html' %}
{% load static %}

{% block title %}DATA FACULTY{% endblock title %}
      
{% block content %}
<li class="nav-item">
   <a class="nav-link dropdown" href="{% url 'faculty' %}">FACULTY</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'student' %}">STUDENT</a>
</li class="nav-item">
  <a class="nav-link" href="{% url 'adminL' %}">LOGOUT</a>
</li>
{% endblock content %}

{% block body %}
       <script src="faculty.js"></script>
          <div class="jumbotron table-responsive">
             <div class="card-body">
               <h5 class="card-title" style="margin-bottom: 50px;">WIFI REQUEST</h5>
               <div class="search-sort row g-3">
                   <div class="col-md-4">
                       <label class="form-check-label" for="search">Search Name:</label>
                       <input type="text" class="form-control" id="search" placeholder="Search name">
                   </div>
                   <div class="col-md-2">
                    <button class="btn btn-primary" type="submit" style="padding: 10px 24px;">Search</button>
                   </div>
                   <div class="col-md-3">
                       <label for="sort" class="form-check-label">Sort by:</label>
                       <select id="inputState" class="form-control form-control">
                          <option selected>Choose...</option>
                          <option>Name (A-Z)</option>
                          <option>Name (Z-A)</option>
                          <option>Type (S-F)</option>
                          <option>Type (F-S)</option>
                       </select> 
                   </div>
               </div>
               <table class="table" id="tfaculty">
                <thead class="table-danger">
                   <tr>
                      <th scope="col" style="text-align: center;">Name</th>
                      <th scope="col" style="text-align: center;">Department</th>
                      <th scope="col" style="text-align: center;">Designation</th>
                      <th scope="col" style="text-align: center;">Mac Address</th>
                      <th scope="col" style="text-align: center;">Email</th>
                      <th scope="col" style="text-align: center;">Phone No.#</th>
                      <th scope="col" style="text-align: center;">Approval</th>
                   </tr>
                </thead>
             </table>
            </div>
          </div>
{% endblock body %}