{% load static %}
{% include 'Wifi_App/head.html' %}
   <head>
      <title>DATA REQUEST</title>
      <link rel="stylesheet" href="{% static 'CSS/tablecss.css' %}">
   </head>
    <body>
       <div class="container-fluid">
        {% include 'Wifi_App/temp.html' %}
          <div class="jumbotron table-responsive">
             <div class="card-body">
               <h5 class="card-title" style="margin-bottom: 50px;">WIFI REQUEST</h5>
               <div class="search-sort row g-3">
                   <div class="col-md-4">
                       <label class="form-check-label" for="search">Search Name:</label>
                       <input type="text" class="form-control" id="search" placeholder="Search name">
                   </div>
                   <div class="col-md-2">
                    <button class="btn btn-primary" type="submit" style="padding: 10px 24px;">Search</button>
                   </div>
                   <div class="col-md-3">
                       <label for="sort" class="form-check-label">Sort by:</label>
                       <select id="inputState" class="form-control form-control">
                          <option selected>Choose...</option>
                          <option>Name (A-Z)</option>
                          <option>Name (Z-A)</option>
                          <option>Type (S-F)</option>
                          <option>Type (F-S)</option>
                       </select> 
                   </div>
               </div>
               <table class="table">
                <thead class="table-danger">
                   <tr>
                      <th scope="col" style="text-align: center;">Name</th>
                      <th scope="col" style="text-align: center;">Type</th>
                      <th scope="col" style="text-align: center;">Mac Address</th>
                      <th scope="col" style="text-align: center;">Approval</th>
                   </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" style="text-align: center;">Galano, George Louis</th>
                        <td style="text-align: center;">STUDENT</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">
                          <span >
                              <button class="btn btn-success" type="submit" style="padding: 10px 24px;">Approve</button>
                          </span>
                          <span>
                              <button class="btn btn-danger" type="submit" style="padding: 10px 32px;">Reject</button>
                          </span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="text-align: center;">Laungayan, John Lerry B.</th>
                      <td style="text-align: center;">STUDENT</td>
                      <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                      <td style="text-align: center;">
                        <span >
                            <button class="btn btn-success" type="submit" style="padding: 10px 24px;">Approve</button>
                        </span>
                        <span>
                            <button class="btn btn-danger" type="submit" style="padding: 10px 32px;">Reject</button>
                        </span>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row" style="text-align: center;">Ladrera, Jairus R.</th>
                      <td style="text-align: center;">FACULTY</td>
                      <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                      <td style="text-align: center;">
                        <span >
                            <button class="btn btn-success" type="submit" style="padding: 10px 24px;">Approve</button>
                        </span>
                        <span>
                            <button class="btn btn-danger" type="submit" style="padding: 10px 32px;">Reject</button>
                        </span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" style="text-align: center;">Zuckerberg, Mark</th>
                    <td style="text-align: center;">FACULTY</td>
                    <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                    <td style="text-align: center;">
                      <span >
                          <button class="btn btn-success" type="submit" style="padding: 10px 24px;">Approve</button>
                      </span>
                      <span>
                          <button class="btn btn-danger" type="submit" style="padding: 10px 32px;">Reject</button>
                      </span>
                  </td>
                </tr>
                </tbody>
             </table>
            </div>
          </div>
       </div>
    </body>