{% extends 'Wifi_App/head2.html' %}
{% load static %}

{% block title %}DATA HISTORY{% endblock title %}
      
{% block content %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'datastudent' %}">STUDENT</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="{% url 'datafaculty' %}">FACULTY</a>
</li>
</li class="nav-item">
   <a class="nav-link" href="{% url 'adminL' %}">LOGOUT</a>
</li>
{% endblock content %}

{% block body %}
   <div class="jumbotron table-responsive table-sortable">
      <div class="card-body">
         <h5 class="card-title" style="margin-bottom: 50px;">HISTORY OF APPROVAL</h5>
      </div>
      <script src="{% static 'JavaScript/history.js' %}"></script>
      <table id="historydata" class="table table-striped table-bordered">
         <thead class="table-danger">
            <tr>
               <th scope="col" style="text-align: center;">Name</th>
               <th scope="col" style="text-align: center;">Email</th>
               <th scope="col" style="text-align: center;">Mac Address</th>
               <th scope="col" style="text-align: center;">Type</th>
               <th scope="col" style="text-align: center;">Status</th>
               <th scope="col" style="text-align: center;">Time of Request</th>
            </tr>
         </thead>
         <tbody>
            {% for i in history %}
            <tr>
               <th scope="row" style="text-align: center;">{{ i.names2}}</th>
               <td style="text-align: center;">{{ i.email2 }}</td>
               <td style="text-align: center;">{{ i.macadd2 }}</td>
               <td style="text-align: center;">{{ i.kind }}</td>
               <td style="text-align: center;">{{ i.marked }}</td>
               <td style="text-align: center;">{{ i.timed }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock body %}