{% load static %}
{% include 'Wifi_App/head.html' %}
    <head>
      <title>DATA HISTORY</title>
      <link rel="stylesheet" href="{% static 'CSS/tablecss.css' %}">
   </head>
   <body>
    <div class="container-fluid">
        {% include 'Wifi_App/temp.html' %}
       <div class="jumbotron table-responsive table-sortable">
          <div class="card-body">
            <h5 class="card-title" style="margin-bottom: 50px;">HISTORY OF APPROVAL</h5>
        </div>
            <script src="{% static 'JavaScript/history.js' %}"></script>
            <table id="historydata" class="table table-striped table-bordered">
               <thead class="table-danger">
                  <tr>
                     <th scope="col" style="text-align: center;">Name</th>
                     <th scope="col" style="text-align: center;">Type</th>
                     <th scope="col" style="text-align: center;">Mac Address</th>
                     <th scope="col" style="text-align: center;">Date of Approval</th>
                     <th scope="col" style="text-align: center;">Time of Approval</th>
                  </tr>
               </thead>
               <tbody>
                   <tr>
                       <th scope="row" style="text-align: center;">Galano, George Louis</th>
                       <td style="text-align: center;">STUDENT</td>
                       <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                       <td style="text-align: center;">12-09-2021</td>
                       <td style="text-align: center;">03:45:46 PM</td>
                   </tr>
                   <tr>
                    <th scope="row" style="text-align: center;">Laungayan, John Lerry B.</th>
                    <td style="text-align: center;">STUDENT</td>
                    <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                    <td style="text-align: center;">11-28-2021</td>
                    <td style="text-align: center;">09:28:31 AM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Ladrera, Jairus R.</th>
                        <td style="text-align: center;">FACULTY</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">11-30-2021</td>
                        <td style="text-align: center;">12:16:43 PM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Zuckerberg, Mark</th>
                        <td style="text-align: center;">FACULTY</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">12-31-2021</td>
                        <td style="text-align: center;">1:16:43 PM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Bautista, Jake</th>
                        <td style="text-align: center;">STUDENT</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">11-28-2021</td>
                        <td style="text-align: center;">09:28:31 AM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Baybay, Nedrick Allen</th>
                        <td style="text-align: center;">STUDENT</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">11-28-2021</td>
                        <td style="text-align: center;">09:28:31 AM</td>
                    </tr>
                    <tr>
                    <th scope="row" style="text-align: center;">Cortez, Richard</th>
                    <td style="text-align: center;">STUDENT</td>
                    <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                    <td style="text-align: center;">11-28-2021</td>
                    <td style="text-align: center;">09:28:31 AM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Heartfilia, Lucy</th>
                        <td style="text-align: center;">STUDENT</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">11-28-2021</td>
                        <td style="text-align: center;">09:28:31 AM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Scarlet, Erza</th>
                        <td style="text-align: center;">Faculty</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">11-28-2021</td>
                        <td style="text-align: center;">09:28:31 AM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Yuji, Itadori</th>
                        <td style="text-align: center;">STUDENT</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">11-28-2021</td>
                        <td style="text-align: center;">09:28:31 AM</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: center;">Satoru, Gojou</th>
                        <td style="text-align: center;">Faculty</td>
                        <td style="text-align: center;">74:4C:A1:7F:45:9B</td>
                        <td style="text-align: center;">11-28-2021</td>
                        <td style="text-align: center;">09:28:31 AM</td>
                    </tr>   
               </tbody>
            </table>
         </div>
       </div>
    </div>
 </body>