{% extends 'Wifi_App/head2.html' %}
{% load static %}

{% block title %}DATA STUDENT{% endblock title %}

{% block content %}
<li class="nav-item">
   <a class="nav-link dropdown" href="{% url 'datafaculty' %}">REQUEST</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="{% url 'datahistory' %}">HISTORY</a>
</li class="nav-item">
   <a class="nav-link" href="{% url 'adminL' %}">LOGOUT</a>
</li>
{% endblock content %}

{% block body %}
          <div class="jumbotron table-responsive">
             <div class="card-body">
               <h5 class="card-title" style="margin-bottom: 50px;">WIFI REQUEST</h5>
               <div class="search-sort row g-3">
                   <div class="col-md-4">
                       <label class="form-check-label" for="search">Search Name:</label>
                       <input type="text" class="form-control" id="search" placeholder="Search name">
                   </div>
                   <div class="col-md-2">
                    <button class="btn btn-primary" type="submit" style="padding: 10px 24px;">Search</button>
                   </div>
                   <div class="col-md-3">
                       <label for="sort" class="form-check-label">Sort by:</label>
                       <select id="inputState" class="form-control form-control">
                          <option selected>Choose...</option>
                          <option>Name (A-Z)</option>
                          <option>Name (Z-A)</option>
                          <option>Type (S-F)</option>
                          <option>Type (F-S)</option>
                       </select> 
                   </div>
               </div>
               <table class="table">
                <thead class="table-danger">
                    <tr>
                       <th scope="col" style="text-align: center;">Name</th>
                       <th scope="col" style="text-align: center;">Course</th>
                       <th scope="col" style="text-align: center;">Semester</th>
                       <th scope="col" style="text-align: center;">TUPC-ID</th>
                       <th scope="col" style="text-align: center;">Or No.</th>
                       <th scope="col" style="text-align: center;">Phone No.</th>
                       <th scope="col" style="text-align: center;">System</th>
                       <th scope="col" style="text-align: center;">Others</th>
                       <th scope="col" style="text-align: center;">Mac Address</th>
                       <th scope="col" style="text-align: center;">Email</th>
                       <th scope="col" style="text-align: center;">Home Address</th>
                       <th scope="col" style="text-align: center;">Approval</th>
                    </tr>
                 </thead>
                 <tbody>
                   {% for i in student_request %}
                   <tr>
                       <th scope="row" style="text-align: center;">{{ i.snames }}</th>
                       <td style="text-align: center;">{{ i.scourse }}</td>
                       <td style="text-align: center;">{{ i.ssemester }}</td>
                       <td style="text-align: center;">{{ i.stupid }}</td>
                       <td style="text-align: center;">{{ i.sornum }}</td>
                       <td style="text-align: center;">{{ i.sphone }}</td>
                       <td style="text-align: center;">{{ i.ssystem }}</td>
                       <td style="text-align: center;">{{ i.sothers }}</td>
                       <td style="text-align: center;">{{ i.smacadd }}</td>
                       <td style="text-align: center;">{{ i.semail }}</td>
                       <td style="text-align: center;">{{ i.sresidAdd }}</td>
                       <td style="text-align: center;">
                         <span >
                             <a href="/acceptStudent/{{ i.semail }}" class="btn btn-success" style="padding: 10px 24px;">Approve</a>
                         </span>
                         <span>
                             <a href="/rejectStudent/{{ i.semail }}" class="btn btn-danger" style="padding: 10px 32px;">Reject</a>
                         </span>
                     </td>
                   </tr>
                   {% endfor %}
               </tbody>
             </table>
            </div>
          </div>
{% endblock body %}