{% extends 'Wifi_App/head2.html' %}
{% load static %}

{% block title %}DATA FACULTY{% endblock title %}
      
{% block content %}

{% if request.user.userType == "ADMIN" %}
<li class="nav-item">
  <a class="nav-link btn btn-block text-primary" href="{% url 'viewCalendar' %}"><i class="fa-solid fa-calendar-days"></i>&nbsp;CALENDAR</a>
</li>
<li class="nav-item">
  <a class="nav-link btn btn-block text-primary" href="{% url 'createStaff' %}"><i class="fa-solid fa-user-plus"></i>&nbsp;STAFF</a>
</li>
<li class="nav-item">
  <a class="nav-link btn btn-block text-primary" href="{% url 'datastudent' %}"><i class="fa-solid fa-user-graduate"></i>&nbsp;STUDENT</a>
</li>
<li class="nav-item">
  <a class="nav-link active btn btn-block" href="{% url 'datafaculty' %}"><i class="fa-solid fa-user-group"></i>&nbsp;FACULTY</a>
</li>
<li class="nav-item">
  <a class="nav-link btn btn-block text-primary" href="{% url 'logout_user' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;LOGOUT</a>
</li>
{% else %}
<li class="nav-item">
  <a class="nav-link btn btn-block text-primary" href="{% url 'datastudent' %}"><i class="fa-solid fa-user-graduate"></i>&nbsp;STUDENT</a>
</li>
<li class="nav-item">
  <a class="nav-link active btn-block" href="{% url 'datafaculty' %}"><i class="fa-solid fa-user-group"></i>&nbsp;FACULTY</a>
</li>
<li class="nav-item">
  <a class="nav-link btn btn-block text-primary" href="{% url 'logout_user' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;LOGOUT</a>
</li>
{% endif %}   

{% endblock content %}

{% block body %}

{% if request.user.userType == "ADMIN" %}
<div class="jumbotron table-responsive table-sortable mt-3 rounded bg-light shadow-lg">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="true"><div class="badge badge-danger">1</div>REQUEST</a>
      <a class="nav-item nav-link" id="approved-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="approved" aria-selected="false"><i class="fa-solid fa-person-circle-check"></i>&nbsp;APPROVED</a>
      <a class="nav-item nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false"><i class="fa-solid fa-clock-rotate-left"></i>&nbsp;HISTORY</a>
    </div>
  </nav>
  <!--FIRST-->
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-tab">
      <div class="card-body">
        <h3 class="card-title d-flex justify-content-center mt-3 font-weight-bold">WIFI REQUEST (FACULTY'S REQUEST)</h3>
      </div>
      <div class="table-responsive table-sortable">
        <table id="studreq" class="table table-striped table-bordered">
          <thead class="table-danger">
            <tr class="text-center text-danger text-nowrap text-uppercase">
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Designation</th>
                <th scope="col">Mac Address</th>
                <th scope="col">System</th>
                <th scope="col">Others</th>
                <th scope="col">Email</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Faculty Name</th>
                <th scope="col">Signature</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in faculty_request %}
            <tr class="text-center text-nowrap">
              <th scope="row">{{ obj.names }}</th>
              <td>{{ obj.department }}</td>
              <td>{{ obj.designation }}</td>
              <td>{{ obj.macadd }}</td>
              <td>{{ obj.device }}</td>
              <td>{{ obj.otherDevice }}</td>
              <td>{{ obj.email }}</td>
              <td>0{{ obj.phoneNum }}</td>
              <td>{{ obj.facultyName }}</td>
              <td><img class="rounded" src="{{ obj.signature.url }}" width="150" height="100" alt="{{ obj.signature }}"></td>
              <td>
                <span >
                    <a data-toggle="modal" data-target="#myModal"  class="btn btn-success mb-1" style="padding: 10px 26px;">Approve</a>
                </span>
                <br>
                <span>
                    <a data-toggle="modal" data-target="#myModal2"  class="btn btn-danger" style="padding: 10px 32px;">Reject</a>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        
    </div>
    <!--SECOND-->
    <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
      <div class="card-body">
        <h3 class="card-title d-flex justify-content-center mt-3 font-weight-bold">APPROVED FACULTY</h3>
      </div>
      <div class="table-responsive table-sortable">
        <table id="studreq" class="table table-striped table-bordered">
          <thead class="table-danger">
            <tr class="text-center text-danger text-nowrap text-uppercase">
              <th scope="col">Name</th>
              <th scope="col">Department</th>
              <th scope="col">Designation</th>
              <th scope="col">Mac Address</th>
              <th scope="col">System</th>
              <th scope="col">Others</th>
              <th scope="col">Email</th>
              <th scope="col">Phone No.</th>
              <th scope="col">Faculty Name</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in all_faculty %}
            <tr class="text-center text-nowrap">
              <th scope="row">{{ obj.names }}</th>
              <td>{{ obj.department }}</td>
              <td>{{ obj.designation }}</td>
              <td>{{ obj.macadd }}</td>
              <td>{{ obj.device }}</td>
              <td>{{ obj.otherDevice }}</td>
              <td>{{ obj.emails.email }}</td>
              <td>0{{ obj.phoneNum }}</td>
              <td>{{ obj.facultyName }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        
    </div>

    <!--THIRD-->
    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
      <div class="card-body">
        <h3 class="card-title d-flex justify-content-center mt-3 font-weight-bold">HISTORY OF FACULTY'S REQUEST</h3>
      </div>
      <div class="table-responsive table-sortable">
        <table id="studreq" class="table table-striped table-bordered">
          <thead class="table-danger">
            <tr class="text-center text-danger text-nowrap text-uppercase">
                <th scope="col">Name</th>
                <th scope="col">Mac</th>
                <th scope="col">Email</th>
                <th scope="col">Agenda</th>
                <th scope="col">Time Stamp</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in history %}
            <tr class="text-center text-nowrap">
              <th scope="row">{{ obj.names }}</th>
              <td>{{ obj.orNum }}</td>
              <td>{{ obj.macadd }}</td>
              <td>{{ obj.email }}</td>
              <td>{{ obj.agenda }}</td>
              <td>{{ obj.timeStamp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        
    </div>
  </div>
</div>
{% else %}

{% endif %}
<!--------------------------------------------------------------------------------------END------------------------------------------------------------------------------->
<script>
  $(document).ready(function() {
    $('#facreq').DataTable({
      scrollCollapse: true,
      paging : false,
  })})
</script>
{% endblock body %}