{% extends 'Wifi_App/head2.html' %}
{% load static %}

{% block title %}DATA HISTORY{% endblock title %}
      
{% block content %}
</li>
<div class="dropdown show">
   {% if countA != 0 or  countB != 0%}
   <a class="dropdown-toggle text-danger" href="#" role="button" id="dropdownMenuLink" 
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {% else %}
   <a class="dropdown-toggle text-success" href="#" role="button" id="dropdownMenuLink" 
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {% endif %}
   {% if countA != 0 or  countB != 0%}<i class="fa-solid fa-person-circle-exclamation"></i>{% else %}<i class="fa-solid fa-person-circle-check"></i>{% endif %}</a>
   <div class="dropdown-menu" id="drop" aria-labelledby="dropdownMenuLink">
      <a class="btn btn-block text-success" href="{% url 'datastudent' %}">STUDENT {% if countA == 0 %}<i class="fa-regular fa-circle-check"></i>
         {% else %}<span class="badge badge-danger">{{ countA }}</span>{% endif %}</a>
      <div class="dropdown-divider m-0"></div>
      <a class="btn btn-block text-success" href="{% url 'datafaculty' %}">FACULTY {% if countB == 0 %}<i class="fa-regular fa-circle-check"></i>
         {% else %}<span class="badge badge-danger">{{ countB }}</span>{% endif %}</a>
   </div>
</div>
{% endblock content %}

{% block body %}
      <div class="container-fluid p-0 my-3">
         <div class="alert alert-dismissible alert-success" role="alert">
            <small class="text-body">You're successfully logged in <strong>{{ user.username }}!</strong></small>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">x</span>
            </button>
            {{ message }}
         </div>
      </div>
   <div class="jumbotron table-responsive table-sortable mt-3 rounded">
      <div class="card-body">
         <h4 class="card-title" style="margin-bottom: 50px;">HISTORY OF APPROVAL</h4>
      </div>
      
      <table id="historydata" class="table table-striped table-bordered">
         <thead class="table-danger">
            <tr>
               <th scope="col" style="text-align: center;">Email</th>
               <th scope="col" style="text-align: center;">Type</th>
               <th scope="col" style="text-align: center;">Time of Request</th>
               <th scope="col" style="text-align: center;">Time of Evaluation</th>
            </tr>
         </thead>            
         <tbody>
            {% for i in history %}
            <tr>
               <th scope="row" style="text-align: center;">
               {% if i.emails %}
                  {% if i.emails.decision == 'Accepted' %}<a href="#" class="text-success" data-toggle="modal" data-target="#myModal2">{{ i.emails.email}}</a>
                  {% elif i.emails.decision == 'Rejected' %}<a href="#" class="text-danger" data-toggle="modal" data-target="#myModal2">{{ i.emails.email}}</a>
                  {% else %}<a href="#" class="text-body" data-toggle="modal" data-target="#myModal">{{ i.emails.email}}</a>
                  {% endif %}
               {% endif %}
               </th>
               <td style="text-align: center;">{{ i.emails.userType }}</td>
               <td style="text-align: center;">{{ i.dateCreated }}</td>
               <td style="text-align: center;">{{ i.dateEvaluated }}</td>
               <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                  
                          <!-- Modal Header -->
                          <div class="modal-header">
                              <h5 class="modal-title">INFORMATION:</h5>
                          </div>
              
                           <!-- Modal body -->
                           <div class="modal-body">
                              <!--*AJAX DATA MUST GOES HERE!*-->
                           </div>
                          
                          <!-- Modal footer -->
                          <div class="modal-footer d-flex justify-content-left">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">BACK</button>
                          </div>
                      </div>
                  </div>
              </div>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

   <script>
         $(document).ready(function() {
            $('#historydata').DataTable({
               scrollCollapse: true,
               paging : false,
            })})
   </script>
{% endblock body %}