{% extends 'Wifi_App/head.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'CSS/faculty.css' %}">
<title>FACULTY FORM</title>
{% endblock title %}

{% block content %}
    <body class="bg-dark"> 
        <div class="container-fluid my-4 sticky-top">
            <div class="media border-bottom border-success mb-3 px-5 bg-dark">
                <img class="rounded img-fluid" src="{% static 'Media/TUP-LOGO.png' %}" alt="wifi" width="100" height="100">  
                <div class="media-body ml-4 p-2">
                    <h1 class="text-primary">WIFI CONNECTIVITY REGISTRATION</h1>
                    <h4 class="text-danger mb-3">for faculty users only</h4>
                </div>  
            </div>
        </div>
            {% include 'Wifi_App/faculty_ext.html' %}
    </body>
    <script type="text/javascript">
        $("input[type='file']").click(function () {
            $("input[id='id_signature']").click();
        });
        $("input[id='id_signature']").change(function (e) {
            var $this = $(this);
            $this.next().html($this.val().split('\\').pop());
        });
    </script>
    <script src="{% static 'JavaScript/Fjquery.js' %}" defer></script>
{% endblock content %}