{% load widget_tweaks %}
{% load static %}
<style type="text/css">
    form ul.errorlist li{
        list-style: none;
    }
    #text{
        visibility: hidden;
      }
</style>
<form class="form" id="form" name="faculty_form" method="POST" action="/faculty/" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="container px-0 bg-dark">
        {% include 'Wifi_App/error.html' %}
        <div class="form-row">
            <!-- left-side -->     
                <div class="col-sm-6">
                {% if form.is_bound %}
                    {% if form.names.errors %}
                        <div class="input-group mt-3 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-user" id="icon"></i></span>
                            {% render_field form.names  class="form-control is-invalid" style="border-left: hidden;" placeholder="Enter Full Name"%}
                        </div>
                        <small class="text-danger" id="small">{{ form.names.errors }}</small>
                        {% else %}
                        <div class="input-group mt-3 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-user" id="icon"></i></span>
                            {% render_field form.names  class="form-control is-valid" placeholder="Enter Full Name"%}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                        {% else %}
                        <div class="input-group mt-3 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-user" id="icon"></i></span>
                            {% render_field form.names class="form-control" placeholder="Enter Full Name"%}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
        
                {% if form.is_bound %}
                    {% if form.department.errors %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-building-columns" id="icon2"></i></span>
                            {% render_field form.department class="form-control is-invalid" style="border-left: hidden;" placeholder="Enter Department" %}
                        </div>
                            <small class="text-danger">{{ form.department.errors }}</small>
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-building-columns" id="icon2"></i></span>
                            {% render_field form.department class="form-control is-valid" placeholder="Enter Department" %}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-building-columns" id="icon2"></i></span>
                            {% render_field form.department class="form-control" placeholder="Enter Department" %}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
        
                {% if form.is_bound %}
                    {% if form.designation.errors %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-arrows-turn-to-dots" id="icon3"></i></span>
                            {% render_field form.designation  class="form-control is-invalid" style="border-left: hidden;" placeholder="Enter Designation"%}
                        </div>
                            <small class="text-danger">{{ form.designation.errors }}</small>
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-arrows-turn-to-dots" id="icon3"></i></span>
                            {% render_field form.designation  class="form-control is-valid" placeholder="Enter Designation"%}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-arrows-turn-to-dots" id="icon3"></i></span>
                            {% render_field form.designation class="form-control" placeholder="Enter Designation" %}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                        
                {% if form.is_bound %}
                    {% if form.macadd.errors %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-brands fa-apple" id="icon4"></i></span>
                            {% render_field form.macadd  class="form-control is-invalid" style="border-left: hidden;" placeholder="Enter Mac Address"%}
                        </div>
                            <small class="text-danger">{{ form.macadd.errors }}</small>
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-brands fa-apple" id="icon4"></i></span>
                            {% render_field form.macadd  class="form-control is-valid" placeholder="Enter Mac Address"%}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-brands fa-apple" id="icon4"></i></span>
                            {% render_field form.macadd class="form-control" placeholder="Enter Mac Address" %}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                </div>
                
                <!-- right side -->
                <div class="col-sm-6">
                    {% if form.is_bound %}
                        {% if form.email.errors %}
                            <div class="input-group mt-3 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-at" id="icon5"></i></span>
                                {% render_field form.email  class="form-control is-invalid" style="border-left: hidden;" placeholder="...@email.com"%}
                            </div>
                                <small class="text-danger">{{ form.email.errors }}</small>
                            {% else %}
                            <div class="input-group mt-3 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-at" id="icon5"></i></span>
                                {% render_field form.email  class="form-control is-valid" placeholder="...@email.com"%}
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
                            {% else %}
                            <div class="input-group mt-3 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-at" id="icon5"></i></span>
                                {% render_field form.email class="form-control" placeholder="...@email.com"%}
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
        
                    {% if form.is_bound %}
                        {% if form.phoneNum.errors %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-phone" id="icon6"></i></span>
                                {% render_field form.phoneNum  class="form-control is-invalid" style="border-left: hidden;" placeholder="+09xxxxxxxxx"%}
                            </div>
                                <small class="text-danger">{{ form.phoneNum.errors }}</small>
                            {% else %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-phone" id="icon6"></i></span>
                                {% render_field form.phoneNum  class="form-control is-valid" placeholder="+09xxxxxxxxx"%}
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
                            {% else %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-phone" id="icon6"></i></span>
                                {% render_field form.phoneNum class="form-control" placeholder="+09xxxxxxxxx" %}
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
        
                    {% if form.is_bound %}
                        {% if form.device.errors %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-computer" id="icon7"></i></span>
                                {% render_field form.device  class="custom-select is-invalid" style="border-left: hidden;"%}
                            </div>
                            <small class="text-danger">{{ form.device.errors }}</small>
                            {% else %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-computer" id="icon7"></i></span>
                                {% render_field form.device  class="custom-select is-valid"%}
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
                            {% else %} 
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-computer" id="icon7"></i></span>
                                {% render_field form.device class="custom-select"%}
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
                        
                            <!-------------Specify----------------------------------------------------------------------------->
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-ellipsis" id="icon8"></i></span>
                                {% render_field form.otherDevice class="form-control" placeholder="If others, please specify..." %}
                            </div>
                            
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-12">
                    <p>
                        <em class="text-white-50">
                            (Note: To get the MAC address of the laptop, please do the following: Go to Start->Run. Type cmd and enter. Then at the prompt type: 
                            ipconfig /all and Note down the “Physical Address for Wireless LAN Adapter” as a MAC Address.) 
                        </em>
                        </p>
                </div>
            </div>
            <hr class="bg-success">
        
            <div class="form-row">
                <div class="col-sm-12">
                    <a class="card-link text-primary" data-toggle="collapse" href="#terms">
                        [Terms and Condition]
                    </a>
                    <div class="collapse show" id="terms" data-parent="#accordion">
                        <p>
                        <em class="text-white-50 text-justify">
                            I understand that the Wi-Fi connectivity is provided to me for my academic work only.
                            The above mentioned system solely belongs to me. I have gone through the norms and
                            Regulation of using the Wi-Fi Connectivity and I abide by it. I will not misuse the facility
                            by any means.
                        </em>
                        </p>
                    </div>
        
                    <div class="custom-control custom-switch">
                        {% render_field form.agreement class="custom-control-input"%}
                        <label class="custom-control-label text-white" for="id_agreement"><strong>Yes, I agree.</strong></label><label id="red">*</label>
                    </div>
                </div>
            </div>
            <hr class="bg-success">
            <p>
            <em class="text-white-50">
                The 1 hour per day Wifi-Connectivity  given to the user is valid from 
                November  to March, 2022
            </em>
            </p>
        
            <div class="form-row">
                <div class="col-sm-6">
                {% if form.is_bound %}
                    {% if form.facultyName.errors %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-building" id="icon9"></i></span>
                            {% render_field form.facultyName  class="form-control is-invalid" style="border-left: hidden;" placeholder="Enter Faculty Name"%}
                        </div>
                        <small class="text-danger">{{ form.facultyName.errors }}</small>
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-building" id="icon9"></i></span>
                            {% render_field form.facultyName  class="form-control is-valid" placeholder="Enter Faculty Name"%}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                        {% else %}
                        <div class="input-group mt-4 mb-2">
                            <span class="input-group-text"><i class="fa-solid fa-building" id="icon9"></i></span>
                            {% render_field form.facultyName class="form-control" placeholder="Enter Faculty Name"%}
                        </div>
                        <small><ul><li id="text">required</li></ul></small>
                        {% endif %}
                </div>
                
                <div class="col-sm-6 text-success">
                    {% if form.is_multipart %}
                        {% if form.signature.errors %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-file-signature" id="icon10"></i></span>
                                <div class="custom-file">
                                {% render_field form.signature  class="form-control custom-file-input is-invalid" style="border-left: hidden;"%}
                                <label class="custom-file-label">Upload image of Signature over printed name</label>
                                </div>
                            </div>
                            <small class="text-danger">{{ form.signature.errors }}</small>
                            {% else %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-file-signature" id="icon10"></i></span>
                                <div class="custom-file">
                                {% render_field form.signature  class="form-control custom-file-input is-valid"%}
                                    <label class="custom-file-label">Upload image of Signature over printed name</label>
                                </div>
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
                            {% else %}
                            <div class="input-group mt-4 mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-file-signature" id="icon10"></i></span>
                                <div class="custom-file">
                                {% render_field form.signature class="form-control custom-file-input"%}
                                    <label class="custom-file-label">Upload image of Signature over printed name</label>
                                </div>
                            </div>
                            <small><ul><li id="text">required</li></ul></small>
                            {% endif %}
                </div>
            </div>
    </div>
    <div class="container px-0">
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg text-success mt-2 mb-5" data-toggle="tooltip" data-placement="top" title="Return to homepage" id="backF" style="border-radius: 45px;">
                    <i class="fa-solid fa-circle-arrow-left" id="icon"></i><strong> BACK</strong></a>
            </div>
            <div class="col-sm-6 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-secondary btn-lg mt-2 mb-5 text-success" data-toggle="modal" data-target="#myModal" id="confirm" style="border-radius: 45px;"><strong> SUBMIT</strong> <i class="fa-solid fa-circle-arrow-right" id="icon"></i></button>
            </div>
        </div>
    </div>
    
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-danger font-italic">Faculty says...</h5>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa-solid fa-arrow-right-from-bracket" id="back"></i></button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <h5 class="modal-title d-flex justify-content-center text-dark">Do you wish to continue 
                        <span><i class="fa-solid fa-circle-question" id="question"></i></h5></span>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-left">
                    <button type="submit" class="btn btn-success" id="confirm">YES</button>
                    <button type="button" class="btn text-muted" data-dismiss="modal">NO</button>
                </div>
            
            </div>
        </div>
    </div>
</form>
