{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      {% block title %}

      {% endblock title %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/45bc2c0fb9.js" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link rel="icon" type="image/x-icon" href="{% static '001-wifi-signal.ico' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
 </head>
 <style>
    .nav-link, .change{
      font-family: 'Roboto Condensed', sans-serif;
    }
    .banner-text p{
      font-family: impact;
      text-transform: capitalize;
    }
 </style>

    {% block content %}

    {% endblock content %}

</html>
<script>
  $('.dropdown').hover(function() {
      $(this).addClass('show');
         $(this).find('.dropdown-menu').addClass('show');
      },
      function() {
         $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
         });
</script>
