{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'CSS/tablecss.css' %}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/45bc2c0fb9.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-light">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-light sticky-top rounded" style="background: rgb(248, 209, 215);">
                <div class="container-fluid">
                    <a class="navbar-brand text-body" href="#"><img class="rounded-circle" src="{% static 'Media/TUP-LOGO.png' %}" height="75px" width="75px">
                        <span style="margin-left: 10px;" class="text-success">ADMIN HOMEPAGE</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>    
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav nav-pills ml-auto">
                            {% block content %}
                            
                            {% endblock content %}
                            <div class="dropdown show">
                                <a class="ml-3 text-success dropdown-toggle" href="#" role="button" 
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <strong>{{ user.username }}</strong>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" id="drop" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item text-primary" href="">download as <em><strong>PDF</strong></em></a>
                                  <a class="dropdown-item text-primary" href="{% url 'csv' %}">download as <em><strong>CSV</strong></em></a>
                                  <div class="dropdown-divider m-0"></div>
                                  <a class="dropdown-item text-danger" href="{% url 'logout' %}">LOGOUT</a>
                                </div>
                              </div>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block body %}
                                
            {% endblock body %}
        </div>
    </body>
</html>