<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/fac/">
    {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Enter Details</h3>
            </p>
            <div>
                <p>Names:</p>{{ form.names }}
            </div>
            <div>
                <p>Department:</p>{{ form.department }}
            </div>
            <div>
                <p>Designation:</p>{{ form.designation }}
            </div>
            <div>
                <p>MAC:</p>{{ form.macadd }}
            </div>
            <div>
                <p>system:</p>{{ form.system }}
            </div>
            <div>
                <p>others:</p>{{ form.others }}
            </div>
            <div>
                <p>email:</p>{{ form.email }}
            </div>
            <div>
                <p>phone:</p>{{ form.phone }}
            </div>
            <div>
                <p>facultys:</p>{{ form.facultys }}
            </div>
            <div>
                <br>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>