<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">INFORMATION:</h5>
            </div>

             <!-- Modal body -->
             <div class="modal-body">
                <h6 class="modal-title text-dark">
                   Name: {{ i.emailF.names }}<br>
                   Department: {{ i.emailF.department }}<br>
                   Designation: {{ i.emailF.designation }}<br>
                   Device: {{ i.emailF.device }}<br>
                   Other Device: {{ i.emailF.otherDevice }}<br>
                   Email: {{ i.emailF.email }}<br>
                   Mac Address: {{ i.emailF.macadd }}<br>
                   Phone No: {{ i.emailF.phoneNum }}<br>
                   Faculty Name: {{ i.emailF.facultyName }}<br>
                </h6>
             </div>
            
            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-left">
                <button type="button" class="btn btn-danger" data-dismiss="modal">BACK</button>
            </div>
        </div>
    </div>
</div>