{% extends 'Wifi_App/head.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>LOGIN</title>
<link rel="stylesheet" href="{% static 'CSS/adminlogin.css' %}">
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <body style="background: url({% static 'Media/loginbg.jpg' %}) no-repeat center center fixed;background-size: cover;">
        <section class="container-fluid bg">
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-3">
                    <form  method="post" name="login" action="/login_user/" novalidate>
                        {% csrf_token %}
                        <div class="form-container">
                            <h4 class="text-white mb-2">LOGIN</h4>
                            {% include 'Wifi_App/error.html' %}
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                <input class="form-control" type="text" name="username" placeholder="Username">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <input class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group form-check mt-3">
                                <input type="checkbox" class="form-check-input" id="RmbrME">
                                <label class="form-check-label text-white" for="RmbrME">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-primary mx-auto d-block">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;LOG IN</button>
                        </div>
                    </form>
                </section>
            </section>
        </section>
    </body>
{% endblock content %}
