{% extends 'Wifi_App/head.html' %}
{% load static %}

{% block title %}
    <title>{% if user.userType == 'STUDENT' %}STUDENT PORTAL{% else %}FACULTY PORTAL{% endif %}</title>

{% endblock title %}

{% block content %}
<body class="bg-light">
    <div class="container-fluid mt-3">
        <nav class="navbar navbar-expand-sm navbar-light sticky-top rounded" style="background: rgb(248, 209, 215);">
            <div class="container-fluid">
                <a class="navbar-brand text-body" href="#"><img class="rounded-circle" src="{% static 'Media/TUP-LOGO.png' %}" height="75px" width="75px">
                    <span style="margin-left: 10px;" class="text-success">
                        {% if user.userType == 'STUDENT' %}STUDENT PORTAL{% else %}FACULTY PORTAL{% endif %}
                    </span>
                </a>
                <p>{{user.username}}</p>
            </div>
        </nav>
        {% if user.userType == 'STUDENT' %}
        <a href="/studentWifi/" class="btn btn-primary">REGISTER TO WIFI</a>
        {% else %}
        <a href="/facultyWifi/" class="btn btn-primary">REGISTER TO WIFI</a>
        {% endif %}
        <a href="/logout_user/" class="btn btn-primary">Logout</a>
{% endblock content %}