<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Record</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Mac</th>
                <th>System</th>
                <th>Others</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Faculty Name</th>
                <th>Upload</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in persons %}
            <tr>
                <td>{{ persons.names }}</td>
                <td>{{ persons.department }}</td>
                <td>{{ persons.designation }}</td>
                <td>{{ persons.macadd }}</td>
                <td>{{ persons.system }}</td>
                <td>{{ persons.others }}</td>
                <td>{{ persons.email }}</td>
                <td>{{ persons.phone }}</td>
                <td>{{ persons.facultys }}</td>
                <td>{{ persons.upload }}</td>
                <td>{{ persons.date }}</td>
                <td>
                    <a href="/edit/{{ employee.id }}">Edit</a>
                    <a href="/delete/{{ employee.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color: white;" href="/emp/">Add New Record</a></button>
</body>
</html>