{% extends 'Wifi_App/head.html' %}
{% load static %}

{% block title %}
<title>STUDENT FORM</title>
{% endblock title %}
        
{% block content %}
    <body class="bg-light">
        <div class="container my-4">
            <div class="media border-0 mb-5 sticky-top shadow" style="background: rgb(248, 209, 215);">
                <img class="d-flex justify-content-left rounded img-fluid" src="{% static 'Media/TUP-LOGO.png' %}" alt="wifi" width="100" height="100">  
                <div class="media-body ml-4">
                    <h2 class="text-primary">WIFI CONNECTIVITY REGISTRATION</h2>
                    <h4 class="text-danger mb-3">for student users only</h4>
                </div>  
            </div>
            {% include 'Wifi_App/student_ext.html' %}
        </div>
    </body>
    <script type="text/javascript">
        // displaying uploaded image name
        $("input[type='file']").click(function () {
            $("input[id='id_supload']").click();
        });
        $("input[id='id_supload']").change(function (e) {
            var $this = $(this);
            $this.next().html($this.val().split('\\').pop());
        });
    </script>
    <script src="{% static 'JavaScript/sjquery.js' %}" defer></script>
{% endblock content %}