{% extends 'Wifi_App/head.html' %}
{% load static %}

{% block title %}
<title>STUDENT FORM</title>
{% endblock title %}
        
{% block content %}
    <body class="bg-dark">
        <div class="container-fluid my-4 sticky-top">
            <div class="media border-bottom mb-5 px-5 bg-dark shadow">
                <img class="rounded img-fluid" src="{% static 'Media/TUP-LOGO.png' %}" alt="wifi" width="100" height="100">  
                <div class="media-body ml-4 p-2">
                    <h2 class="text-primary">WIFI CONNECTIVITY REGISTRATION</h2>
                    <h4 class="text-danger mb-3">for student users only</h4>
                </div>  
            </div>
        </div>
            {% include 'Wifi_App/student_ext.html' %}
    </body>
    <script type="text/javascript">
        // displaying uploaded image name
        $("input[type='file']").click(function () {
            $("input[id='id_signature']").click();
        });
        $("input[id='id_signature']").change(function (e) {
            var $this = $(this);
            $this.next().html($this.val().split('\\').pop());
        });
    </script>
    <script src="{% static 'JavaScript/sjquery.js' %}" defer></script>
{% endblock content %}