{% extends 'Wifi_App/head.html' %}
{% load static %}

{% block title %}
<title>STUDENT FORM</title>
<link rel="stylesheet" href="{% static 'CSS/ST-Design.css' %}">
<script src="{% static 'JavaScript/student.js' %}" defer></script>
{% endblock title %}
        
{% block content %}
    <body style="background-image: url({% static 'Media/wifi-signal.png' %});">
        <div class="container">
            <div class="header" style="background-image: url({% static 'Media/no-wifi.png' %});">
                <h2 class="design">WIFI CONNECTIVITY REGISTRATION</h2>
                <h4 class="design2">for student users only</h4>
            </div>
            <form class="form" id="form" name="student_form" method="POST"  action="/createStudent/" onsubmit="return checkInputs();">
                <div class="row">
                <!-- left-side -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><strong>Name:</strong></label><label id="red">*</label>
                            <input type="text" class="form-control" maxlength="30" placeholder="Enter Full Name" name="snames" id="names" onkeyup="a()">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Course:</strong></label><label id="red">*</label>
                            <select class="custom-select" name="scourse" id="course" onchange="b()">
                                <option value="">Choose</option>
                                <option value="BACHELOR OF SCIENCE IN CIVIL ENGINEERING">BSCE</option>
                                <option value="BACHELOR OF SCIENCE IN ELECTRICAL ENGINEERING">BSEE</option>
                                <option value="BACHELOR OF SCIENCE IN MECHANICAL ENGINEERING">BSME</option>
                                <option value="BET-ELECTRICAL TECHNOLOGY">BET-ET</option>
                                <option value="BET-INDUSTRIAL AUTOMATION TECHNOLOGY">BET-ESET</option>
                                <option value="BET-COMPUTER ENGINEERING TECHNOLOGY">BET-COET</option>
                                <option value="BET-CIVIL TECHNOLOGY">BET-CT</option>
                                <option value="BET-AUTOMOTIVE TECHNOLOGY">BET-AT</option>
                                <option value="BET-MECHANICAL ENGINEERING TECHNOLOGY">BET-MT</option>
                                <option value="BET-POWER PLANT TECHNOLOGY">BET-PPT</option>
                                <option value="BSIE-INFORMATION COMPUTER TECHNOLOGY">BSIE-ICT</option>
                                <option value="BSIE-HOME ECONOMICS">BSIE-HE</option>
                                <option value="BTTE-AUTOMOTIVE">BTTE-AU</option>
                                <option value="BTTE-ELECTRICAL">BTTE-EI</option>
                                <option value="BTTE-ELECTRONICS">BTTE-E</option>
                                <option value="BTTE-AIR CONDITIONING">BTTE-HVACT</option>
                                <option value="BTTE-COMPUTER PROGRAMMING">BTTE-CP</option>
                            </select>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Semester:</strong></label><label id="red">*</label>
                            <select class="custom-select" name="ssemester" id="semester" onchange="c()">
                                <option value="">Choose</option>
                                <option value="1st Sem">First Semester</option>
                                <option value="2nd Sem">Second Semester</option>
                            </select>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Student No:</strong></label><label id="red">*</label>
                            <input type="text" class="form-control" maxlength="12" placeholder="TUPC-xx-xxxx" name="stupid" id="tupcnum" onkeyup="d()">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>O.R #:</strong></label><label id="red">*</label>
                            <input type="number" class="form-control" oninput="javascript: if (this.value.length > this.maxLength)
                             this.value = this.value.slice(0, this.maxLength);" maxlength="12" placeholder="Enter O.R#" name="sornum" id="orno" onkeyup="e()">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Phone #:</strong></label><label id="red">*</label>
                            <input type="number" class="form-control" oninput="javascript: if (this.value.length > this.maxLength)
                             this.value = this.value.slice(0, this.maxLength);" maxlength="11" placeholder="09xxxxxxxxx" name="sphone" id="phone" onkeyup="f()">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                    </div>

                    <!-- right side -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><strong>Device:</strong></label><label id="red">*</label>
                            <select class="custom-select" name="ssystem" id="system" onchange="g()">
                                <option value="">Choose</option>
                                <option value="Smartphone">Smartphone</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Tablet">Tablet</option>
                                <option value="PC">PC</option>
                                <option value="Desktop">Desktop</option>
                                <option value="Others">Others...</option>
                              </select>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Others:</strong></label><label id="red">*</label>
                            <input type="text" class="form-control" maxlength="15" placeholder="Others..." name="sothers" id="others" onkeyup="h()" disabled="">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Mac Address:</strong></label><label id="red">*</label>
                            <input type="text" class="form-control" maxlength="17" placeholder="xx-xx-xx-xx-xx" name="smacadd" id="macadd" onkeyup="i()">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Email:</strong></label><label id="red">*</label>
                            <input type="email" class="form-control" maxlength="30" placeholder="...@gmail.com" name="semail" id="email" onkeyup="j()">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                        <div class="form-group">
                            <label><strong>Residence Address:</strong></label><label id="red">*</label>
                            <input type="text" class="form-control" maxlength="50" placeholder="Enter Address" name="sresidAdd" id="resid" onkeyup="k()">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message!</small>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        <a class="card-link" data-toggle="collapse" href="#terms">
                            [Terms and Condition]
                        </a>
                        <div class="collapse show" id="terms" data-parent="#accordion">
                            <p>
                            <i>
                                I understand that the Wi-Fi connectivity is provided to me for my academic work only.
                                The above mentioned system solely belongs to me. I have gone through the norms and
                                Regulation of using the Wi-Fi Connectivity and I abide by it. I will not misuse the facility
                                by any means.
                            </i>
                            </p>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="schecked" class="custom-control-input" id="agree">
                            <label class="custom-control-label" for="agree" style="color: #0061c8;"><strong>Yes, I agree.</strong></label><label id="red">*</label>
                        </div>
                    </div>
                </div>
                <hr>
                <p>
                <i>
                    The 1 hour per day Wifi-Connectivity  given to the user is valid from 
                    November  to March, 2022
                </i>
                </p>

                <div class="row">
                    <div class="col-sm-6">
                        <h5>Approved by:</h5>
                            <input type="image" id="image1" src="{% static 'Media/white.jpg' %}" alt="UITC Coordinator Signature" width="100%" height="40px"><br>
                            <label for="image1">UITC Coordinator</label><br>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label><strong>Upload image of Signature over printed name:</strong></label><label id="red">*</label>
                            <div class="custom-file">
                                <input type="file" class="form-control custom-file-input" name="supload" id="upload" onchange="l()">
                                <label class="custom-file-label">Choose file</label>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error Message!</small>
                            </div>      
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-outline-success" id="confirm">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
    {% endblock content %}