{% load static %}
{% load widget_tweaks %}
<form class="form" id="form" name="student_form" method="POST" action="/student/" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="container py-4 bg-light shadow">
        <div class="form-row">
            <!-- left-side -->
                <div class="col-sm-6">
                    {% if form.is_bound %}
                        {% if form.snames.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-user" id="icon"></i></span>
                                {% render_field form.snames  class="form-control is-invalid" placeholder="Enter Full Name"%}
                            </div>
                            <small class="text-danger" id="small">{{ form.snames.errors }}</small>
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-user" id="icon"></i></span>
                                {% render_field form.snames  class="form-control is-valid" placeholder="Enter Full Name"%}
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-user" id="icon"></i></span>
                                {% render_field form.snames  class="form-control" placeholder="Enter Full Name"%}
                            </div>
                            {% endif %}
        
                    {% if form.is_bound %}
                        {% if form.scourse.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-route" id="icon2"></i></span>
                                {% render_field form.scourse  class="custom-select is-invalid"%}
                            </div>
                            <small class="text-danger">{{ form.scourse.errors }}</small>
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-route" id="icon2"></i></span>
                                {% render_field form.scourse  class="custom-select is-valid"%}
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-route" id="icon2"></i></span>
                                {% render_field form.scourse  class="custom-select"%}
                            </div>
                            {% endif %}
        
                        {% if form.is_bound %}
                            {% if form.ssemester.errors %}
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class='fas fa-chalkboard' id="icon3"></i></span>
                                    {% render_field form.ssemester  class="custom-select is-invalid"%}
                                </div>
                                <small class="text-danger">{{ form.ssemester.errors }}</small>
                                {% else %}
                                <div class="input-group mb-5">
                                    <span class="input-group-text"><i class='fas fa-chalkboard' id="icon3"></i></span>
                                    {% render_field form.ssemester  class="custom-select is-valid"%}
                                </div>
                                {% endif %}
                                {% else %}
                                <div class="input-group mb-5">
                                    <span class="input-group-text"><i class='fas fa-chalkboard' id="icon3"></i></span>
                                    {% render_field form.ssemester  class="custom-select"%}
                                </div>
                                {% endif %}
        
                        {% if form.is_bound %}
                            {% if form.stupid.errors %}
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-id-card" id="icon4"></i></span>
                                    {% render_field form.stupid  class="form-control is-invalid" placeholder="TUPC-XX-XXXX"%}
                                </div>
                                <small class="text-danger" id="small">{{ form.stupid.errors }}</small>
                                {% else %}
                                <div class="input-group mb-5">
                                    <span class="input-group-text"><i class="fa-solid fa-id-card" id="icon4"></i></span>
                                    {% render_field form.stupid  class="form-control is-valid" placeholder="TUPC-XX-XXXX"%}
                                </div>
                                {% endif %}
                                {% else %}
                                <div class="input-group mb-5">
                                    <span class="input-group-text"><i class="fa-solid fa-id-card" id="icon4"></i></span>
                                    {% render_field form.stupid  class="form-control" placeholder="TUPC-XX-XXXX"%}
                                </div>
                                {% endif %}
        
                        {% if form.is_bound %}
                            {% if form.ssystem.errors %}
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-user" id="icon5"></i></span>
                                    {% render_field form.ssystem  class="custom-select is-invalid"%}
                                </div>
                                <small class="text-danger">{{ form.ssystem.errors }}</small>                        
                                {% else %}
                                <div class="input-group mb-5">
                                    <span class="input-group-text"><i class="fa-solid fa-user" id="icon5"></i></span>
                                    {% render_field form.ssystem  class="custom-select is-valid"%}
                                </div>
                                {% endif %}
                                {% else %}
                                <div class="input-group mb-5">
                                    <span class="input-group-text"><i class="fa-solid fa-user" id="icon5"></i></span>
                                    {% render_field form.ssystem  class="custom-select"%}
                                </div>
                                {% endif %}
        
        
                        <!-------------Specify----------------------------------------------------------------------------->
                        <div class="input-group mb-5">
                            <span class="input-group-text"><i class="fa-solid fa-ellipsis" id="icon6"></i></span>
                            {% render_field form.sothers  class="form-control" placeholder="If others, please specify..."%}
                        </div>
                </div>  
        
                <!-- right side -->
                <div class="col-sm-6">
                    {% if form.is_bound %}
                        {% if form.sornum.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-hashtag" id="icon7"></i></span>
                                {% render_field form.sornum  class="form-control is-invalid" placeholder="Enter OR number"%}
                            </div>
                            <small class="text-danger">{{ form.sornum.errors }}</small>
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-hashtag" id="icon7"></i></span>
                                {% render_field form.sornum  class="form-control is-valid" placeholder="Enter OR number"%}
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-hashtag" id="icon7"></i></span>
                                {% render_field form.sornum  class="form-control" placeholder="Enter OR number"%}
                            </div>
                            {% endif %}
        
                    {% if form.is_bound %}
                        {% if form.sphone.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-phone" id="icon8"></i></span>
                                {% render_field form.sphone  class="form-control is-invalid" placeholder="+63xxxxxxxxxx"%}
                            </div>
                            <small class="text-danger">{{ form.sphone.errors }}</small>
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-phone" id="icon8"></i></span>
                                {% render_field form.sphone  class="form-control is-valid" placeholder="+63xxxxxxxxxx"%}
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-phone" id="icon8"></i></span>
                                {% render_field form.sphone  class="form-control" placeholder="+63xxxxxxxxxx"%}
                            </div>
                            {% endif %}
        
                    {% if form.is_bound %}
                        {% if form.smacadd.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-brands fa-apple" id="icon9"></i></span>
                                {% render_field form.smacadd  class="form-control is-invalid" placeholder="11-22-33-44-55"%}
                            </div>
                            <small class="text-danger" id="small">{{ form.smacadd.errors }}</small>
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-brands fa-apple" id="icon9"></i></span>
                                {% render_field form.smacadd  class="form-control is-valid" placeholder="11-22-33-44-55"%}
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-brands fa-apple" id="icon9"></i></span>
                                {% render_field form.smacadd class="form-control" placeholder="11-22-33-44-55"%}
                            </div>
                            {% endif %}
        
                    {% if form.is_bound %}
                        {% if form.semail.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-at" id="icon10"></i></span>
                                {% render_field form.semail  class="form-control is-invalid" placeholder="...@email.com"%}
                            </div>
                            <small class="text-danger" id="small">{{ form.semail.errors }}</small>
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-at" id="icon10"></i></span>
                                {% render_field form.semail  class="form-control is-valid" placeholder="...@email.com"%}
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-at" id="icon10"></i></span>
                                {% render_field form.semail  class="form-control" placeholder="...@email.com"%}
                            </div>
                            {% endif %}
        
                    {% if form.is_bound %}
                        {% if form.sresidAdd.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-location-dot" id="icon11"></i></span>
                                {% render_field form.sresidAdd  class="form-control is-invalid" placeholder="Enter Residence Address"%}
                            </div>
                            <small class="text-danger" id="small">{{ form.sresidAdd.errors }}</small>
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-location-dot" id="icon11"></i></span>
                                {% render_field form.sresidAdd  class="form-control is-valid" placeholder="Enter Residence Address"%}
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-location-dot" id="icon11"></i></span>
                                {% render_field form.sresidAdd  class="form-control" placeholder="Enter Residence Address"%}
                            </div>
                            {% endif %}
                </div>
            </div>
            <hr>
        
            <div class="form-row">
                <div class="col-sm-12">
                    <a class="card-link" data-toggle="collapse" href="#terms">
                        [Terms and Condition]
                    </a>
                    <div class="collapse show" id="terms" data-parent="#accordion">
                        <p>
                        <i class="text-secondary text-justify">
                            I understand that the Wi-Fi connectivity is provided to me for my academic work only.
                            The above mentioned system solely belongs to me. I have gone through the norms and
                            Regulation of using the Wi-Fi Connectivity and I abide by it. I will not misuse the facility
                            by any means.
                        </i>
                        </p>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name="schecked" class="custom-control-input" id="agree" required>
                        <label class="custom-control-label text-body" for="agree" style="color: #0061c8;"><strong>Yes, I agree.</strong></label><label id="red"></label>
                    </div>
                </div>
            </div>
            <hr>
            <p>
            <i class="text-secondary text-justify">
                The 1 hour per day Wifi-Connectivity  given to the user is valid from 
                November  to March, 2022
            </i>
            </p>
        
            <div class="form-row">
                <div class="col-sm-6">
                    <p class="mt-2">Approved by:</p>
                    <img src="{% static 'Media/white.jpg' %}" alt="UITC Coordinator Signature" class="rounded mb-2" width="100%" height="40">
                    <label class="d-flex justify-content-center" style="text-decoration: overline;">UITC Coordinator</label>
                </div>
        
                <div class="col-sm-6">
                    {% if form.is_multipart %}
                        {% if form.supload.errors %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-file-signature" id="icon12"></i></span>
                                <div class="custom-file">
                                {% render_field form.supload  class="form-control custom-file-input is-invalid"%}
                                <label class="custom-file-label">Upload image of Signature over printed name</label>
                                </div>
                            </div>
                            <small class="text-danger">{{ form.supload.errors }}</small>
                            </div>
                            {% else %}
                            <div class="input-group my-5">
                                <span class="input-group-text"><i class="fa-solid fa-file-signature" id="icon12"></i></span>
                                <div class="custom-file">
                                {% render_field form.supload  class="form-control custom-file-input is-valid"%}
                                <label class="custom-file-label">Upload image of Signature over printed name</label>
                                </div>
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="input-group mb-5">
                                <span class="input-group-text"><i class="fa-solid fa-file-signature" id="icon12"></i></span>
                                <div class="custom-file">
                                {% render_field form.supload  class="form-control custom-file-input"%}
                                <label class="custom-file-label">Upload image of Signature over printed name</label>
                                </div>
                            </div>
                        {% endif %}
            </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'index' %}" class="btn btn-outline-success btn-md" data-toggle="tooltip" data-placement="top" title="Return to homepage" id="backF">
                <i class="fa-solid fa-circle-arrow-left" id="icon"></i> BACK</a>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary btn-md" data-toggle="modal" data-target="#myModal" id="confirm">SUBMIT <i class="fa-solid fa-circle-arrow-right" id="icon"></i></button>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-danger font-italic">Student says...</h5>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa-solid fa-arrow-right-from-bracket" id="back"></i></button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <h5 class="modal-title d-flex justify-content-center text-dark">Do you wish to continue 
                        <span><i class="fa-solid fa-circle-question" id="question"></i></h5></span>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer d-flex justify-content-left">
                    <button type="submit" class="btn btn-success btn-md" id="confirm">YES</button>
                    <button type="button" class="btn btn-light text-muted" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
</form>