{% load static %}
{% include 'Wifi_App/head.html' %}
<title>CONFIRMATION</title>
<body class="bg-light">
   <div class="container-fluid p-0">
    <div class="alert alert-dismissible alert-success shadow-sm" role="alert">
       <small class="text-body d-flex justify-content-center my-3"><strong>
           <i class="fa-solid fa-circle-check text-success"></i>&nbsp;The email has been sent</small>
    </div>
    <br>
   <img class="d-block mx-auto img-fluid" src="{% static 'mail-sent.svg' %}" alt="success-image">
   {% if request.user.userType == 'STAFF' %}
   <div class="d-flex justify-content-center">
      <a href="{% url 'datastudent' %}" class="btn btn-primary text my-3"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;GO&nbsp;BACK</a>
   </div> 
   {% else %}
   <div class="d-flex justify-content-center">
      <a href="{% url 'home' %}" class="btn btn-primary text my-3"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;GO&nbsp;BACK</a>
   </div> 
   {% endif %}
 </div>
</body>
