{% include 'Wifi_App/head.html' %}
    <head>
        <title>CONFIRMATION</title>
    </head>
    <style type="text/css">
        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #d4edda;
        }
        #color{
            background-color: #d4edda;
        }
    </style>

    <body id="color">
        <div class="card center shadow-lg">
        <h4 class="card-body text-body">
            Congratulations! <strong>{{ request.user.username }}</strong>, You Have Successfully Submitted The Form✨🥳🎉
        </h4>
        </div>
    </body>
</html>

