{% load static %}

<nav class="navbar navbar-expand-sm navbar-light sticky-top" style="background: rgb(248, 209, 215);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'Media/TUP-LOGO.png' %}" height="75px" width="75px"><span style="margin-left: 10px;">ADMIN HOMEPAGE</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link dropdown" href="{% url 'datarequest' %}">REQUEST</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'datahistory' %}">HISTORY</a>
               </li class="nav-item">
                   <a class="nav-link" href="{% url 'adminL' %}">LOGOUT</a>
               </li>
            </ul>
        </div>
    </div>
  </nav>