body{
    margin: 0;
    padding: 20px;
    font-family: serif;
}
*{
    box-sizing: border-box;
}

.table{
    width: 100%;
    border-collapse: collapse;
    padding: 12px, 15px;
    border: 1px solid black;
    margin-top: 50px;
}

.table td, .table th{
    padding: 12px, 15px;
    border: 1px solid black;
}
.btn-danger{
    border: 2px solid rgb(250, 110, 110);
}
.btn-success{
    border: 2px solid rgb(111, 247, 93);
}
.btn-primary{
    border: 2px solid rgb(92, 202, 253);
    margin-top: 20px;
}